<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand text-danger" [routerLink]="['assets/all']"><h3>CGI</h3></a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['assets/all']">List Assets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['asset/add']">Add Asset</a>
        </li>
    </ul>

    <span class="navbar-text">
        Welcome, <span class="text-danger">CGI Member!</span>
    </span>
</nav>