<h1 class="text-center">Add Asset</h1>

<form class="mt-2 ml-2" (ngSubmit)="addAsset()" #assetForm="ngForm">
    <div class="form-group row mb-3">
        <label for="assetTagId" class="col-sm-2 col-form-label">Tag ID<sup title="Required">*</sup></label>
        <input type="text" class="form-control-plaintext col-sm-1" id="assetTagId" 
                value="{{ asset.assetTagId }}" readonly required />
    </div>

    <div class="form-group row mb-3">
        <label for="assetType" class="col-sm-2 col-form-label">Asset Type<sup title="Required">*</sup></label>
        <select name="assetType" id="assetType" class="custom-select mr-sm-2 col-sm-2" 
                [(ngModel)]="asset.assetType" required #assetType="ngModel">
            <option>Desktop</option>
            <option>Laptop</option>
            <option>Display</option>
            <option>Phone</option>
            <option>External Hard Drive</option>
            <option>Other</option>
        </select>

        <div *ngIf="assetType.invalid && (assetType.dirty || assetType.touched)" class="ml-2 alert alert-danger col-sm-2">
            <div *ngIf="assetType.errors?.required">Asset type is required!</div>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="description" class="col-sm-2 col-form-label">Description<sup title="Required">*</sup></label>
        <input name="description" type="text" class="form-control col-sm-4" id="description" 
                [(ngModel)]="asset.description" placeholder="Provide a description of the asset here" 
                #description="ngModel" required />

        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="ml-2 alert alert-danger col-sm-2">
            <div *ngIf="description.errors?.required">Description is required!</div>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="assignedTo" class="col-sm-2 col-form-label">Assigned To</label>
        <input name="assignedTo" type="text" class="form-control col-sm-3" id="assignedTo" [(ngModel)]="asset.assignedTo"
                placeholder="What user is the asset assigned to? (optional)" />
    </div>

    <small id="requiredFieldNote" class="form-text text-muted mb-3">An asterisk (*) indicates a required field.</small>
    
    <button type="submit" class="btn btn-success mr-sm-2" [disabled]="!assetForm.form.valid">Add</button>
    <button type="button" class="btn btn-danger mr-sm-2" (click)="cancel()">Cancel</button>
</form>