<table *ngIf="assets" class="table table-hover">
  <thead>
    <tr>
      <th *ngFor="let attribute of attributeList">{{ attribute }}</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let asset of assets">
      <td><a [routerLink]="['/asset/details/', asset.assetTagId]">{{ asset.assetTagId }}</a></td>
      <td>{{ asset.assetType }}</td>
      <td>{{ asset.description }}</td>
      <td>{{ asset.dateAdded.toLocaleString() }}</td>
      <td><a [routerLink]="['/assets/user/', asset.assignedTo]">{{ asset.assignedTo }}</a></td>
      <td>{{ asset.retired ? "True" : "False" }}</td>
      <td *ngIf="asset.dateRetired; else elseBlock">{{ asset.dateRetired.toLocaleString() }}</td>
      <ng-template #elseBlock><td></td></ng-template>
    </tr>
  </tbody>
</table>